@use "../global/variables" as var;

.banner {
  min-height: 150px;
  margin-bottom: 40px;
  background-image: url("../img/banner-m.jpg");
  background-image: image-set(
    url("../img/banner-m.webp") type("image/webp") 1x,
    url("../img/banner-m@2x.webp") type("image/webp") 2x,
    url("../img/banner-m.jpg") type("image/jpg") 1x,
    url("../img/banner-m@2x.jpg") type("image/jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: min-height 0.2s linear;
}

@media (min-width: var.$tablet) {
  .banner {
    min-height: 250px;
    background-image: url("../img/banner-l.jpg");
    background-image: image-set(
      url("../img/banner-l.webp") type("image/webp") 1x,
      url("../img/banner-l@2x.webp") type("image/webp") 2x,
      url("../img/banner-l.jpg") type("image/jpg") 1x,
      url("../img/banner-l@2x.jpg") type("image/jpg") 2x
    );
  }
}

@media (min-width: var.$desktop) {
  .banner {
    min-height: 300px;
    background-image: url("../img/banner-d.jpg");
    background-image: image-set(
      url("../img/banner-d.webp") type("image/webp") 1x,
      url("../img/banner-d@2x.webp") type("image/webp") 2x,
      url("../img/banner-d.jpg") type("image/jpg") 1x,
      url("../img/banner-d@2x.jpg") type("image/jpg") 2x
    );
  }
}
