@use "../global/variables" as var;

.home {
  display: grid;
}

.home__container {
  margin-bottom: 80px;
}

.home__main {
  margin-bottom: 60px;
}

@media (min-width: var.$laptop) {
  .home__main {
    margin-bottom: 96px;
  }
}

@media (min-width: var.$desktop) {
  .home__container {
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 40px;
    margin-bottom: 100px;
  }

  .home__main {
    margin-bottom: 0;
  }
}
